<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="./support.js"></script><script src="../_shell/gc-topbar.js"></script>
</head>
<body>
<x-dc>
<helmet><script src="./ds-base.js"></script><script src="/_blob/1840c8d9327e1d872bcd8bc9a4590a5a"></script></helmet>
<gc-topbar crumb="Settings" page="{{ crumb }}" height="56" base="../" placeholder="Search settings, orders, products…"></gc-topbar>
</x-dc>
<script type="text/x-dc" data-dc-script data-props="{&quot;$preview&quot;:{&quot;width&quot;:1372,&quot;height&quot;:56},&quot;crumb&quot;:{&quot;editor&quot;:&quot;text&quot;,&quot;default&quot;:&quot;General&quot;,&quot;tsType&quot;:&quot;string&quot;}}">
class Component extends DCLogic {
  componentDidMount() { this.paint(); }
  componentDidUpdate() { this.paint(); }
  paint() {
    const go = () => { if (window.lucide && window.lucide.createIcons) window.lucide.createIcons({ attrs: { 'stroke-width': 1.75 } }); };
    go(); setTimeout(go, 300); setTimeout(go, 900); setTimeout(go, 2500);
  }
  renderVals() { return { crumb: this.props.crumb ?? 'General' }; }
}
</script>
</body>
</html>
